
.App {
  text-align: center;
  font-family: Imported;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  width: 5px;
}

.loading-all{
  min-width: 100%;
  min-height: 1000px;
  overflow-y: hidden;
  position: fixed;
  text-align: center;
}

.loading-all-icon{
  margin-top: 20%;
}


.heart-wishlist:hover{
  cursor: pointer;
}


/*Navbar Style*/
#navbar {
  background-color: black;
  backdrop-filter: blur(10px);
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  z-index: 3000;
  padding: 1%;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.5);
}


.navbar-search{
  margin-left: 25%;
  margin-bottom: 0.2%;
}

#navbar-logo{
  min-width: 100px;
  min-height: 60px;
  max-width: 100px;
  max-height: 60px;
  margin-right: 225px;
}

#navbar-contentresponsive {
  display: block;
  background-color: black;
  width: 100%;
  padding-left: 10%;
  padding-right: 20%;
  margin-left: -7%;
  margin-right: -10%;
}

.nav-link {
  justify-content: space-around;
  font-size: large;
  font-family: "Century Gothic";
  font-weight: unset;
  color: black;
  text-decoration: none;
}

#logo-image {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#nav-links {
  margin-left: 40%;
}

#nav-link-home {
  text-decoration: none;
  color: white;
}
#nav-link-sobre {
  text-decoration: none;
  color: white;
}
#nav-link-valores {
  text-decoration: none;
  color: white;
}

.navbar-search{
  align-self: flex-end;
}

.navbar-cart{
  margin-left: 17%;
  margin-bottom: 10%;
}
.cart-navbar-content-number{
  margin-left: 10%;
}

.select-category-modal{
  text-align: center;
  margin-right: 5%;
}

.select-category-modal:hover{
  cursor: pointer;
}
.select-option-navbar:hover{
  cursor: pointer;
}

.navbar-search-result{
  position: fixed;
  top: 66px;
  width: 20%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  overflow-x: hidden;
}

.navbar-search-image{
  width: 100%;
  border: 10px;
  margin-bottom: 20px;
}
.navbar-search-image-content{
  width: 90%;
  border-radius: 10px;
}
.navbar-search-name-content-p{
  font-size: 10pt;
  text-align: center;
  margin-top: 10px;
}
#navbar-search-name-content-button{
  align-self: center;
  margin-left: 15%;
  width: 80%;
  margin-top: -3%;

}

.navbar-search-result-list{
  list-style: none;
  max-height: 540px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.navbar-list-item{
  margin-top: 25px;
}


/*Carousel style*/

#carousel{
  margin-top: 6.4%;
}
/*section cards*/

/*Section style*/


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

#product-section-card {
  border: 1px solid #000;
  color: #fff;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 90%);
}

#title-section,.card-text-ligas {
  text-align: center
}

#title-section {
  color: rgba(0,0,0,.7);
  padding-bottom: 7%;
  margin-bottom: 10%;
  border-bottom: 3px solid rgba(0,0,0,.7)
}

#section-style {
  padding: 10%;
  background-color: #f5f5f5;
}

#product-section-card {
  border: 1px solid #000;
  color: #fff;
  box-shadow: 4px 4px 10px rgba(0,0,0,.9);
}

.product-list-style {
  text-align: center;
  background-color: #020202;
}

.card-body-description-style {
  color: #fff;
  padding: 0;
  font-size: 12pt;
}

#section-title-product {
  color: #fff;
  background-color: rgba(0,0,0,.5);
  padding: 2%
}

/*contact style*/

#contact-style {
  color: #fff;
  padding-top: 7%;
  padding-bottom: 7%
}



#contact-row-2,#contact-style {
  padding-right: 5%
}


#contact-logo{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10%;
  border-radius: 10px;
}

.contact-icons {
  width: 7%;
  margin-right: 5%;
  margin-top: 3%;
}



/*product style*/
.poducts-style{
  margin: 5%;
  margin-top: 10%;
  display: flex;
  margin-bottom: 10%;
}
#filter-product-style{
  margin-top: 1.7%;
  min-width: 350px;
  max-width: 350px;
  background-color: whitesmoke;
  margin-right: 3%;
  padding: 1%;
  border-radius: 5px;
  overflow-y: scroll;
}
#filter-product-style{
  text-align: center;
}
.filter-product-title{
  margin-bottom: 10%;
}
.filter-product-input{
  border-radius: 10px;
  border: 0.1px rgba(0,0,0,0.2) solid;
  padding: 3px;
}
.filter-product-search-input{
  padding: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 10px;
}

.filter-product-icons{
  margin-bottom: 2.4%;
  margin-right: 4%;
}

.filter-list-categories{
  margin: 9%;
}

.filter-list-categories-element{
  margin-left: 5.5%;
  margin-top: 6%;
}
#product-image{
  min-width: 100%;
  min-height: 50%;
  max-width: 100%;
  max-height: 50%;
}
.card-element-product{
  max-width: 27%;
  min-width: 27%;

  min-height: 500px;
  max-height: 500px;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
  padding: 2%;
  margin: 2.5%;
}
#card-text-product{
  display: flex;
  justify-content: space-around;
}
.wishlist-products-part{
  position: absolute;
  z-index: 2000;
}
.discount-products-part{
  position: absolute;
  z-index: 2000;
  margin-left: 12%;
  width: 3%;
  text-align: center;
  border-radius: 10px;
  height: 3.5%;
}

.value-product-card{
  margin: auto;
  font-weight: 400;
  font-size: 15pt;
  margin-right: 10%;
}

.card-category-text{
  border: 0.1px solid rgba(0, 0, 0, 0.7);
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: whitesmoke;
  min-width: 40%;
  max-width: 100%;
  height: 10%;
}

.card-category-text{
  padding-top: 5%;
}

/*detailed product*/
.detailed-product{
  display: flex;
  margin:7%;
  margin-top: 15%;
  align-items: center;
  background-color: rgba(0,0,0,0.03);
  padding: 30px;
  border-radius: 10px;
}

#detailed-product-column-1{
  margin: 2%;
  margin-bottom: 7%;
  height: 110%;
  max-width: 30%;
  margin-right: 10%;
}
#detailed-product-columns-2{
  margin: 2%;
  margin-top: 7%;
  margin-bottom: 7%;
  height: 110%;
  max-width: 50%;
  margin-left: 10%;
}
#detailed-product-image-col-1{
  max-width: 25%;
}
#detailed-product-image-col-2{
  max-width: 90%;
  max-height: 100%;
}

.detailed-product-image-sub{
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.03);
  margin-bottom: 3%;
  margin-left: 5%;
}
.detailed-product-image-sub:hover{
  cursor: pointer;
}
.detailed-product-image{
  max-height: 100%;
  max-width: 120%;
  min-width: 120%;

  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.03);
}

#detailed-product-title{
  text-align: center;
}

#detailed-product-description{
  color: rgba(0,0,0,0.8);
  text-align: left;
}
.detailed-product-evaluation{
  display: flex;
  margin-top: 3%;
}

.detailed-product-evaluation-image{
  width: 50%;
}

.detailed-product-evaluation-image-element{
  width: 50%;
}

.detailed-product-options{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
}

.detailed-product-card{
  width: 20%;
  text-align: center;
  border-radius: 7px;
  background-color: whitesmoke;
  border: 0.2px rgba(0,0,0,0.2) solid;
  padding-top: 10px;
}

.detailed-product-card:hover{
box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
cursor: pointer;
}

.detailed-product-quantity{
  display: flex;
  margin-top: 7%;
  margin-bottom: 5%;
  justify-content: space-around;
}
.detailed-product-quantity-quantities{
  width: 30%;
}


.detailed-original-value{
  color: red;
}

.detailed-button-row{
  display: flex;
  max-width: 100%;
}

#detailed-button-col-1{
  max-width: 80%;
}

#detailed-button-col-2{
  margin-left: 1%;
  max-width: 10%;
}

.detailed-product-quantity-quantities-input{
  border: 0.5px rgba(0,0,0,0.3) solid;
  text-align: center;
}

.detailed-product-quantity-price{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#details-sub-footers{
  justify-content: space-around;
}

#detailed-product-button{
  width: 100%;
}

#detailed-product-button-element{
  width: 100%;
  margin: auto;
}

#detailed-responsive-images-row{

}

/*similar products*/
.similar-products{
  display: flex;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  margin: 2%;
  margin-top: -5%;
}

.card-swiper{
  box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.03);
  border-radius:10px ;
}

.wishlist-slider-part{
  z-index: 3000;
  position: absolute;
  top: 23px;
  left: 30px;
}

.discount-slider-part{
  z-index: 3000;
  position: absolute;
  top: 25px;
  right: 20px;
  text-align: center;
  width: 17%;
  height: 5%;
  border-radius: 10px;
}

.card-swiper-image{
  width: 100%;
  padding: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  min-width: 100%;
}

.card-swiper-footer{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 25px;
  padding: 20px;
}

.back-arrow{
  background-color: rgb(25, 136, 25);
  width: 30%;
  padding: 7px;
  margin-bottom: -12%;
  border-radius: 10px;
}

.back-arrow:hover{
  cursor: pointer;
}

.back-arrow-button{
  color: white;
}

.purchase{
  margin: 10%;
}

.purchase-table-title{
  text-align: center;
}

.purchase-table-row{
  width: 10%;
  text-align: center;
}

.purchase-table-image{
  margin: auto;
  width: 30%;
}

.purchase-options{
  width:100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 30px;
  border-radius: 10px;
}

.purchase-options-element{
  width: 70%;
  align-self: center;
}

#purchase-options-element-input{
  background-color: white;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 2%;
  margin-left: 2%;

}

.purchase-selected{
  width:100%;
  margin-top: 10%;
}


.card-component{
  text-align: left;
}

.card-component-card{
  margin-top: -10%;
}

.boleto-component{
  text-align: left;
}
.pix-text{
  margin-top: 13%;
  margin-bottom: 13%;
}

.pix-payed{
  align-self: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.pix-payed-image{
  max-width: 100%;
  margin-bottom: 10%;
}

.pix-payed-text-2{
  color:rgba(0,0,0,0.6)
}

.header-commponent-image{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5.5%;
}

.pay-icon{
  width: 20%;
  margin-left: -3%;
}

.header-commponent-span{
  margin-left: 10%;
  margin-top: -10%;
  background-color: green;
  color: white;
  border-radius: 30px 0px 30px 0px;
  font-size: 12pt;
  padding: 9px;
}

.header-commponent-span-card{
  margin-left: 50%;
  background-color: green;
  color: white;
  border-radius: 30px 0px 30px 0px;
  font-size: 12pt;
  padding: 9px;
}

.body-component{
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: 5%;
  width: 100%;
}

.body-component-card{
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: 5%;
  width: 100%;
}


.cart{
  margin: 5%;
  margin-top: 10%;
}
/*user information*/
.user-information{
  text-align: center;
  background-color: rgba(0,0,0,0.03);
  border-radius: 5px;
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.user-information-title{
  color:rgba(0,0,0,0.4);
  margin-top: -2%;
  margin-bottom: 4.5%;
  padding-bottom: 1%;
  border-bottom: 0.5px #dddddd solid;

}

#user-information-number{
  width: 100%;
  height: 16.5%;
}

 /*progressbar*/
 .progressbar{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 90%;
  background-color: white;
  border: 0.005px black solid;
  border-radius: 10px;
 }


/*costumer modal*/
.costumer-modal{
  position: fixed;
  width: 100%;
  height: 1000%;
  margin-left: -1%;
  z-index: 500000;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  margin-top: -5%;
}

.costumer-modal-content{
  text-align: center;
  background-color: white;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 10%;
  padding: 30px;

}
#modal-area{
  text-align: left;
  margin-left: 3%;
  max-width: 100%;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 30px;
  border-radius: 10px;
}
#modal-area-login{
  max-width: 100%;
  margin-left: -2%;
}
#modal-register{
  max-width: 100%;
  margin-left: -2%;
  margin-top: 5%;
}
#modal-area-register-column-2{
  display: flex;
  flex-direction: column;
}
#modal-button-register{
  align-self: center;
  width: 100%;
}

/*profile page*/
.profile{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 20%;
}

#profile-infos-image{
  max-width: 38%;
  border-radius: 50%;
  margin-left: 25%;
  margin-top: 4%;
}

#profile-products{
  text-align: center;
  margin-top: -10%;
  margin-left: 5%;
}

.product-list-style-x-list{
    display: flex;
    list-style: none;
    height: 300px;
    overflow-x: scroll;
    padding: 20px 0;
    flex: 0 0 600px;
    margin: 0 auto;
}

/*Footer*/
#footer-style{
  box-shadow: 1px 1px 20px rgba(0,0,0,0.2);
  padding:50px;
  margin-top:7%;
  max-width: 100%;
}

.footer-logo{
  border-radius:10px ;
  width: 100%;
  max-width: 100%;
}


@media (max-width: 500px) {
  #navbar{
    max-width: 100%;
    max-height: 100%;
  }
  .menu-logo{
    width: 100%;
    height: 100%;
  }
  #nav-links {
    margin-left: -29%;
  }
  #navbar-links {
      display:flex;
      flex-wrap: wrap;
      width:100%;
      height:100%;
  }
  #navbar-content{
    padding-bottom: 15px;
  }
  .nav-link {
    font-size: small;
    margin-left: 20%
  }
  .navbar-search{
    margin-top:3px;
    margin-left: 14%;
  }
  .navbar-search-result{
    width: 50%;
    margin-top: 1%;
  }
  .navbar-list-item{
    margin-right: 12%;
  }
  .navbar-search-image-content{
    width: 100%;
  }

  #navbar-search-name-content{
    font-size: 10pt;
  }
  #navbar-search-add-content{
    margin-top: 20%;
  }
  .navbar-search-add-content-value{
    font-size: 10pt;
  }
  #navbar-search-name-content-button{
    width: 100%;
  }
  .cart-navbar-content-number{
    margin-left: 5%;
    margin-right: -5%;
    margin-top: 9%;
    background-color: white;
    border-radius: 50px;
    width: 50%;
    height: 50%;
    font-weight: bold;
    color: black;
    padding: 10px;
  }
  #last-navbar-fields-responsive{
    display: none;
    visibility: hidden;
  }

  #last-navbar-fields-{
    display: flex;
    flex-direction: column;
  }
  #select-category-modal-navbar{
    margin-left: -33.5%;
  }
  .navbar-search{
    align-self: center;
  }
  .navbar-cart{
    margin-top: -5%;
  }

  #contact-row-2{
    margin-top: 17%;
  }
  #footer-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  #product-list {
      margin-top: 25%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap
  }

  .card-deck{
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }

  #filter-product-style{
    margin-top: 35%;
    min-width: 110%;
  }

  .swiper-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card-element-responsive{
    max-width: 100%;
    min-width: 90%;
    text-align: center;
    margin-top: 15%;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 10px;
  }
  #card-text-product > button{
    margin-right: 10%;
  }
  #card-swiper{
    width: 450%;
    margin-bottom: 100%;
  }
  .similar-products{
    margin-left: 10%;
  }
  .similar-products-item{
    width: 100%;
    margin-left: 20%;
    align-items: center;
  }

  .products-list-style {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      position: absolute
  }
  #user-information-inputs{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .purchase-table{
    width: 400px;
    margin-bottom: 20%;
  }
  #purchase-join-pages{
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .product-row-style {
      max-height: 20%;
      min-height: 20%
  }

  .detailed-product{
    display: flex;
    flex-direction: column;
    text-align:center;
    padding-top: 150px;
  }


  #description-product-modal,#text-product-modal,#title-product-modal,#value-product-modal {
      font-size: 5pt;
      text-align: center;
  }

  #img-product-modal {
      margin-top: 25%;
  }
  #pix-component-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #pix-qrcode{
    margin-left: 16%;
  }
  .card-swiper-title{
    font-size: 12pt;
  }
  .card-swiper-price{
    font-size: 14pt;
    color:green;
    margin-top: 7%;
  }

  .cart{
    margin-top: 40%;
  }

  #cart-table{
    width: 300px;
  }

  .purchase-table{
    width: 20px;
  }
  .purchase-table-image{
    width: 100%;
  }
  .purchase-table{
    display: block !important;
    overflow-x: auto !important;
    width: 100% !important;
    border: 0.5px rgba(0,0,0,0.2);
  }
  .back-arrow{
    padding: 3px;
    padding-top: 10px;
    padding-left: 3px;

  }

  .back-arrow-button{
    font-size: 8pt;
  }
  /*modal area*/
  #costumer-modal-responsive{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 100%;
    margin-right: 15%;
  }
  #modal-area{
    min-width: 100%;
    max-width: 100%;
  }
  .costumer-modal-content{
    width: 105%;
    height: 100%;
    margin: 0%;
    margin-top: -5%;
    overflow-y: scroll;
  }
  /*detailed*/
  .detailed-product{
    width: 100% !important;
    margin-left: 0px !important;
  }
  #detailed-responsive-images-row{
    display: flex !important;
    flex-direction: column !important;
  }
  #detailed-product-image-col-1{
    display: flex !important;
    flex-direction: row !important;
    margin-bottom: 1%;

  }
  #detailed-product-columns-2{
    margin-left: 0%;
    max-width: 85%;
  }
  .detailed-product-evaluation-image-elemen{
    min-width: 100%;
  }
  .detailed-product{
    margin-left: 9%;
  }
  #detailed-options-title{
    text-align: left;
  }

  #detailed-button-col-2{
    max-width: 30%;
  }
  .detailed-product-quantity-quantities-input{
    margin-left: 55%;
  }
  #detailed-product-image-col-2{
    margin-left: -5%;
  }
  .profile{
    margin-top: 43%;
  }
  #responsive-profile{
    display: flex;
    flex-direction: column;
  }
  #profile-products{
    margin-top: 10%;
    margin-left: -10% !important;
  }
  #profile-infos-image{
    margin-top: 30%;
  }
  .discount-products-part{
    position: absolute;
    z-index: 2000;
    margin-left: 65%;
    margin-top: 1.3%;
    width: 15%;
    text-align: center;
    border-radius: 10px;
    height: 3.5%;
  }
  .discount-slider-part{
    position: absolute;
    z-index: 2000;
    margin-top: 1.3%;
    width: 100%;
    border-radius: 10px;
    left: 175px;
    height: 3.9%;
  }
  #detailed-heart-responsive{
    margin-left: -23%;
  }
}

